<body>
<div class="row">
  <br><br>
  <h1> Sprinkle </h1>
  <br>
   <div class="row">
     <div class="col m12">
         <table class="text">
           <tbody>
           <h5>
           <tr>  Easily collect and manage the explosion of data from sensors, as in temperature and humidity. </tr>
           <tr> It helps you to take care of your garden when you are not home, by checking the data and sending comands back. </tr>
           <tr>  Increases harvest by providing accurate data on the condition of each plant.</tr>
           </h5>
           </tbody>
           <br>
         </table>
         <img class="activator" src="/assets/tehnic.jpg">
         <table class="text">
           <tbody>
           <h5>
           <tr>  Each module is equipped with digital sensors that collect data and transmit it to Arduino. </tr>
           <tr>  Arduino sends the data to an API that puts them in a database. </tr>
           <tr> From this database, the API is the one that extracts them, and processes them.</tr>
           </h5>
           </tbody>
         </table>
       <h4>
         <span class="blue-text text-darken-2"> <blockquote> Meet the team </blockquote> </span>
       </h4>
       <div class="col s12 m8 offset-m2 l6 offset-l3">
         <div class="card-panel grey lighten-5 z-depth-1">
           <div class="row valign-wrapper">
             <div class="col s2">
               <img src="/assets/Sergiu.jpg" alt="" class="circle responsive-img">
             </div>
             <div class="col s8">
              <span class="black-text">
                <b> Sergiu Tritean </b>
                <br>
                Back-end
              </span>
             </div>
           </div>
         </div>
       </div>
       <div class="col s12 m8 offset-m2 l6 offset-l3">
         <div class="card-panel grey lighten-5 z-depth-1">
           <div class="row valign-wrapper">
             <div class="col s2">
               <img src="/assets/Diana.jpeg" alt="" class="circle responsive-img">
             </div>
             <div class="col s8">
              <span class="black-text">
                <b> Diana Urcan </b>
                <br>
                Front-end
              </span>
             </div>
           </div>
         </div>
       </div>
       <div class="col s12 m8 offset-m2 l6 offset-l3">
         <div class="card-panel grey lighten-5 z-depth-1">
           <div class="row valign-wrapper">
             <div class="col s2">
               <img src="/assets/Rares.jpg" alt="" class="circle responsive-img">
             </div>
             <div class="col s8">
              <span class="black-text">
                <b> Szekely Rares </b>
                <br>
                Arduino
              </span>
             </div>
           </div>
         </div>
       </div>
       <div class="col s12 m8 offset-m2 l6 offset-l3">
         <div class="card-panel grey lighten-5 z-depth-1">
           <div class="row valign-wrapper">
             <div class="col s2">
               <img src="/assets/Cristi.jpg" alt="" class="circle responsive-img">
             </div>
             <div class="col s8">
              <span class="black-text">
                <b>  Cristian Bota </b>
                <br>
                Project management
              </span>
             </div>
           </div>
         </div>
       </div>
       <div class="col s12 m8 offset-m2 l6 offset-l3">
         <div class="card-panel grey lighten-5 z-depth-1">
           <div class="row valign-wrapper">
             <div class="col s2">
               <img src="/assets/tudor.jpg" alt="" class="circle responsive-img">
             </div>
             <div class="col s8">
              <span class="black-text">
                <b> Tudor Dan </b>
              </span>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
</div>
