.text{
  text-indent: 40px;
  font-family: "Times New Roman";
}
h1 {
  font-family: Papyrus, fantasy;
  font-size: 100px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
}
