<!-- Modal Structure -->
<div id="add-tab-modal" class="modal" materialize="modal"
     [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Add a tab</h4>
    <div class="row">
      <div class="input-field col s12">
        <select class="icons" materialize="material_select" [materializeSelectOptions]="availableTabs" [(ngModel)]="selectedTab">
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let tab of availableTabs; let tabIndex = index" [value]="tabIndex"
                  [attr.data-icon]="tab.image" class="left circle"> {{ tab.title }} </option>
        </select>
        <label>Available tabs</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="onAddTab()">Add</a>
  </div>
</div>
<div class="row">
  <form>
    <div class="input-field search-field">
      <input id="search" type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </form>
  <ul class="side-nav fixed">
    <li><a class="subheader">Tabs</a></li>
    <app-tab-item *ngFor="let tab of tabs" [tab]="tab"></app-tab-item>
    <div class="add-button">
      <a style="cursor: pointer;" class="modal-trigger" (click)="openModal()"><i class="material-icons add-circle" style="margin-top: 12px;" >add_circle</i></a>
    </div>
  </ul>
</div>
