<!-- Modal Structure -->
<div id="tab-modal" class="modal" materialize="modal" [ngSwitch]="displayedModal"
     [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
        <app-select-modal *ngSwitchCase="'select'" [modalActions]="modalActions"
                          (onCreateModal)="onCreateModal()"></app-select-modal>
        <app-create-modal *ngSwitchCase="'create'" (onSelectModal)="onSelectModal()"></app-create-modal>
  </div>
<div class="row">
  <form>
    <div class="input-field search-field">
      <input id="search" type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </form>
  <ul class="side-nav fixed">
    <li><a class="subheader">Modules</a></li>
    <app-tab-item *ngFor="let tab of tabs" [tab]="tab"></app-tab-item>
    <div class="add-button">
      <a style="cursor: pointer;" class="modal-trigger" (click)="openModal()"><i class="material-icons add-circle" style="margin-top: 12px;" >add_circle</i></a>
    </div>
  </ul>
</div>
