<div class="tab-details-container">
  <div class="center-wrapper">

    <button class="btn waves-effect waves-green switch-button"
            (click)="onSwitchComponent()">{{ displayControls ? 'Graph' : 'Controls' }}</button>

    <div class="center-content">

      <!--Showing the title for the current module-->
      <div class="row">
        <div class="col s12">
          <h3>{{ (modulePromise | async)?.title }}</h3>
        </div>
      </div>

      <div [ngSwitch]="displayControls">

        <ng-container *ngSwitchCase="true">
          <app-controls [modulePromise]="modulePromise"
                        (removeModule)="onRemoveModule()"
                        (waterModule)="onWaterModule()">
          </app-controls>
        </ng-container>

        <ng-container *ngSwitchCase="false">
          <app-graph></app-graph>
        </ng-container>

      </div>

    </div>
  </div>
</div>
