.tab-details-container{
  height: calc(100vh - 128px);
}

.panel-wrapper {
  display: inline-block;
  margin: 0 10px 20px 10px;
}

.panel-container{
  position: relative;
}

.temperature-text {
  position: absolute;
  right: -20px;
  width: 100%;
}
.humidity-text{
  position: absolute;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 993px) {
  .temperature-text {
    top: 30%
  }

  .humidity-text {
    top: 30%
  }

  img {
    height: 180px;
    width: 222px;
  }
}

@media screen and (max-width: 1200px) {

  .temperature-text {
    top: 34%
  }

  .humidity-text {
    top: 34%
  }

  img {
    height: 230px;
    width: 272px;
  }
}

@media screen and (min-width: 1200px) {

  .temperature-text {
    top: 36%
  }

  .humidity-text {
    top: 36%
  }

  img {
    height: 344px;
    width: 294px;
  }
}
