<div class="modal-content">
  <h4>Add a tab</h4>
  <div class="row">
    <div class="input-field col s9">
      <select class="icons" materialize="material_select" [materializeSelectOptions]="availableStats" [(ngModel)]="selectedStat">
        <option value="" disabled selected>Choose your option</option>
        <option *ngFor="let stat of availableStats; let statIndex = index" [value]="statIndex"
                [attr.data-icon]="stat.imagePath" class="left circle"> {{ stat.title }} </option>
      </select>
      <label>Available modules</label>
    </div>
    <div class="col s3 right-align">
      <button class="btn waves-effect" (click)="onCreate()">Create</button>
    </div>
  </div>
</div>

<div class="modal-footer">
  <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="onCancel()">Cancel</a>
  <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="onAddTab()">Add</a>
</div>
