<div class="modal-content">
  <h4>Add a module</h4>
  <div class="row">
    <form #moduleForm="ngForm">

      <!--Title form field-->
      <div class="row">
        <div class="input-field col s12">
          <input id="title" type="text" class="validate" name="title" ngModel required>
          <label for="title">Title</label>
        </div>
      </div>

      <!--UID form field-->
      <div class="row">
        <div class="input-field col s12">
          <input id="UID" type="text" class="validate" name="UID" ngModel required>
          <label for="UID">UID</label>
        </div>
      </div>

      <!--The list of available stats -->
      <div [ngClass]="{'row': true, 'no-margin-bottom': moduleForm.valid && submitPressed}">
        <div class="input-field col s9">
          <select class="icons" materialize="material_select" [materializeSelectOptions]="availableStats" name="statID" [(ngModel)]="selectedStat" required>
            <option value="" selected>Choose or create stat</option>
            <option *ngFor="let stat of availableStats" [value]="stat.ID"
                    [attr.data-icon]="stat ? stat.imagePath : ''" class="left circle"> {{ stat.title }}
            </option>
          </select>
          <label>Available stats</label>
        </div>

        <div class="col s3 right-align">
          <button *ngIf="selectedStat === ''" class="btn waves-effect" (click)="onCreate()">Create</button>
          <button *ngIf="selectedStat !== ''" class="btn waves-effect red" (click)="onDeleteStat()">Remove</button>
        </div>
      </div>

      <div *ngIf="moduleForm.invalid && submitPressed" class="row no-margin-bottom">
        <div class="card-panel red">
          <h5 class="white-text"><i class="material-icons">error</i>ERROR</h5>
          <p class="white-text">The form is invalid</p>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="modal-footer">
  <a class="waves-effect waves-green btn-flat" (click)="onCancel(moduleForm)">Cancel</a>
  <a class="waves-effect waves-green btn-flat" (click)="onAddModule(moduleForm)">Add</a>
</div>
