@import '~materialize-css/sass/components/color';

$primary-color: color("green", "darken-4") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("green", "darken-4") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(27, 94, 32, 0.7);
}
